<h1>Houses</h1>
<%= link_to "Establish New House", new_house_path %>

<div id = "houses">
<% @houses.each do |house| %>

  <ul><%=link_to "#{house.name}", house %>

    <li><img id = "indexPix" src="<%=house.banner_url%>" alt="house_image" /></li>

    </ul>

<% end %>
</div>
